@keyframes imgscale {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes textmove1 {
  0% {
    padding-left: 200px;
  }
  100% {
    padding-left: 0;
  }
}
@keyframes textmove2 {
  0% {
    padding-right: 100px;
  }
  100% {
    padding-right: 0;
  }
}
@media screen and (max-width: 1280px) {
  .owl-theme .owl-dots .owl-dot span {
    opacity: 0;
  }
  .sec3top_wrap,
  .sec4top_wrap {
    width: 55%;
  }
  footer a {
    font-size: 0.8em;
  }
  .footGnb > li {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  .owl-theme .owl-dots .owl-dot span {
    opacity: 0;
  }

  .items3,
  .items4 {
    max-width: 800px;
    min-width: 610px;
    width: 80%;

    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    /* border: 1px solid #ccf; */
  }
  .items3 > ul,
  .items4 > ul {
    width: 100%;
  }
  .items3 > ul > li {
    padding: 0;
  }
  footer {
    margin-top: 0;
  }
  footer a {
    font-size: 0.5em;
  }

  .footGnb > li {
    width: 33.333%;
  }
  .footGnb > li:last-child {
    display: none;
  }
  .sec5 > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  footer {
    margin-top: 800px;
  }
}
@media screen and (max-width: 610px) {
  .owl-theme .owl-dots .owl-dot span {
    opacity: 0;
  }
  .sec3 {
    height: 200vh;
  }
  .sec4 {
    height: 150vh;
  }
  .sec3Contents,
  .sec4Contents {
    background-size: cover;
    height: 30vh;
  }
  .sec3top_wrap,
  .sec4top_wrap {
    top: 30%;
    width: 80%;
  }
  .items3,
  .items4 {
    max-width: 300px;
    min-width: 220px;
  }
  .items3 {
    top: 48%;
    height: 1400px;

    margin: 0 auto;
  }
  .items4 {
    top: 52%;

    margin: 0 auto;
  }
  .items3 > ul,
  .items4 > ul {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
  }
  .items3 > ul > li,
  .items4 > ul > li {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }
  footer {
    margin-top: 300px;
  }
  .footBottomCopy > ul > li {
    margin-right: 2px;
  }
  .fixTop {
    display: none;
  }
  .fixTop610 {
    position: fixed;
    top: 0;
    z-index: 200;
    width: 100%;
    height: 100vh;
  }
  .fixTop610 .logo {
    width: 100px;
    height: 50px;
    font-size: 25px;

    line-height: 50px;
  }
  .fixTop610 .logo a {
    color: #000;
    font-weight: bold;
  }
  .fixTop610 .left > li:first-child {
    padding-left: 10px;
  }
  .fixTop610,
  .fixTop610 .right_top > ul,
  .fixTop610 .right_bottom > ul {
    display: flex;
    justify-content: space-between;
  }
  .fixTop610 .right > li {
    margin: 10px;
    text-align: center;
    width: 100px;
  }
  .fixTop610 .right_top a {
    font-size: 0.8em;
  }
  .fixTop610 .right > li img {
    padding: 10px;
    object-fit: cover;
  }
  .fixTop610 .left {
    width: 80%;
  }

  .menubtn610 {
    font-size: 1em;

    box-sizing: border-box;
  }
  .menubtn610 a {
    padding-left: 10px;
    padding-top: 15px;

    display: block;
    color: #000;
    box-sizing: border-box;
  }
  .menu610 {
    height: 100vh;
    width: 70%;
    position: absolute;
    top: 0;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.5s;
  }
  .menu610 > ul {
    width: 100%;
    height: 80vh;

    box-sizing: border-box;
    padding-left: 10%;
  }
  .menu610log {
    display: flex;
    font-size: 0.8em;
    margin-bottom: 30px;
  }
  .menu610log > div {
    width: 50px;
    padding-top: 20px;
    padding-right: 20px;
  }
}
