@charset "utf-8";
@font-face {
  font-family: notosansM;
  src: url(../webfonts/NotoSansKR-Medium.woff);
}

body {
  font: 1em notosansM;
}
.sec1,
.sec2 {
  width: 100%;

  background-color: #f6e8da;
  /* border: 1px solid #f00; */
}
.logo {
  width: 200px;
  height: 100px;
  font-size: 50px;

  line-height: 100px;
}
.logo a {
  color: #000;
  font-weight: bold;
}
.left > li:first-child {
  padding-left: 70px;
}
.fixTop,
.right_top > ul,
.right_bottom > ul {
  display: flex;
  justify-content: space-between;
}
.right > li {
  margin: 10px;
  text-align: center;
  width: 100px;
}
.right_top a {
  font-size: 0.8em;
}
.right > li img {
  padding: 10px;
  object-fit: cover;
}
.left {
  width: 20%;
}

.menubtn {
  font-size: 1.5em;

  box-sizing: border-box;
}
.menubtn a {
  padding-left: 100px;
  padding-top: 15px;
  width: 200px;
  height: 100px;
  display: block;
  color: #000;
  box-sizing: border-box;
}
.menu {
  height: 100vh;
  width: 20%;
  position: absolute;
  top: 0;
  background-color: #fff;
  overflow: hidden;
  transition: all 0.5s;
}
.menu > ul {
  width: 100%;
  height: 80vh;

  box-sizing: border-box;
  padding-left: 20%;
}
.gnb {
  margin: 15px 0;
}
.gnb > a {
  font-size: 1.5em;
}
.gnb span {
  font-size: 1em;
}
.gnb > ul > li {
  text-indent: 10px;
  margin: 10px 0;
}
.gnb > ul > li a {
  font-size: 0.8em;
  text-transform: capitalize;
}
.redd {
  color: #f00;
}
.fixTop {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 200;
}
.fixTop610 {
  display: none;
}

.slide {
  width: 100%;
  height: 100%;
  position: relative;
}
.slide img {
  height: 90vh;
  object-fit: cover;
}
.slide .slidetext {
  position: absolute;
  bottom: 10%;
  left: 5%;
}
/* sec2 */
.sec2 {
  position: relative;

  background-color: #f6e8da;
}
.sec2 .title {
  font-size: 100px;
}

.sec2_top {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.sec2_top {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}
.sec2_top > div {
  width: 50%;
  height: 50%;
}
.sec2_top > div img {
  width: 100%;
  object-fit: cover;
}
.sec2_top > div:first-child {
  text-align: left;
}
.sec2_top > div:last-child {
  text-align: right;
}
.sec2_top > div:last-child p {
  padding-bottom: 30px;
}
.imgscale {
  animation: imgscale 1s;
}
.textmove1 {
  animation: textmove1 1s;
}
.textmove2 {
  animation: textmove2 1s;
}
.sec3 {
  height: 150vh;
}
.sec4 {
  height: 150vh;
}
.sec3,
.sec4 {
  position: relative;
  width: 100%;

  /* border: 3px solid #f00; */
  background-color: #f6e8da;
  box-sizing: border-box;
}
.sec3Contents,
.sec4Contents {
  background-size: cover;
  height: 60vh;
}
.sec3Contents {
  background: url(../images/bg1.png) no-repeat;
}
.sec4Contents {
  background: url(../images/bg2.png) no-repeat;
}
.sec3top_wrap,
.sec4top_wrap {
  width: 25%;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.itemtitle {
  font-size: 80px;
  text-align: center;
}
.sec3top_wrap img,
.sec4top_wrap img {
  width: 100%;
  object-fit: contain;
}
.items3,
.items4 {
  position: absolute;

  width: 80%;
  max-width: 1300px;
  min-width: 750px;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  /* border: 1px solid #ccf; */
}
.items3 > ul,
.items4 > ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.items3 > ul > li {
  width: 33.333%;
  height: 100%;
  padding: 10px;
}
.items3 > ul > li img,
.items4 > ul > li img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.items4 > ul > li {
  height: 100%;
  padding: 10px;
}
.sec5 .title {
  font-size: 80px;
  width: 200px;
  margin: 0 auto;
  padding: 80px;
  text-align: center;
}
.sec5 > ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.sec5 > ul > li {
  margin: 15px;
}
.sec5 > ul > li img {
  width: 100%;
  object-fit: cover;
}
footer {
  width: 100%;
  background-color: #000;
  padding: 50px 0;
}
footer > ul {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}
footer a {
  color: #fff;
}
.footGnb {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.footSub > li {
  margin: 10px;
}
.footSub span {
  font-size: 0.5em;
  color: #ccc;
}
.footBottom {
  color: #ccc;
  font-size: 0.5em;
}
.footBottom a {
  font-size: 0.5em;
}
.footBottomCopy > ul {
  display: flex;
}
.footBottomCopy > ul > li {
  margin: 5px;
}
.footBottomAdd {
  margin: 10px 5px;
}
.sns > ul {
  display: flex;
}
.sns > ul > li {
  text-align: center;
  line-height: 20px;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 30%;
  background-color: #fff;
  margin: 5px;
}
.sns > ul > li > a {
  color: #000;
  font-weight: bolder;
}
.footSubLog {
  display: flex;
  justify-content: flex-end;
}
.footSubLog > li {
  margin: 5px;
}
