@charset "utf-8";
@font-face {
  font-family: notosansR;
  src: url(../webfonts/NotoSansKR-Regular.woff);
}
.modalBg {
  width: 100%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  display: none;
  z-index: 300;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  margin: 0 auto;

  height: 30px;
}
.modal div {
  display: flex;
  justify-content: space-between;
}
.modal input {
  width: 400px;
  border-radius: 5px;
}
.modal img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  cursor: pointer;
}
body {
  font: 1em notosansR;
}
.wrap {
  width: 100%;

  background-color: #fff;
}
.headerwrap {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: #fff;
}
header {
  /* border: 1px solid #f00; */
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;

  background-color: #fff;

  /* background: #fdf; */
}
.top {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 200px;
  height: 80px;
  line-height: 80px;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.gnbWrap {
  width: 600px;
}
.gnb {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.gnb > li {
  width: 20%;
  height: 80px;
}
.gnb > li > a {
  width: 100%;
  box-sizing: border-box;
  height: 80px;
  line-height: 80px;
}
.gnb > li > a > span {
  width: 60%;
  display: block;
  height: 99%;

  /* border-bottom: 2px solid #000; 후버 동작*/
}
/* .gnb > li > a > span.borderBottom {
  border-bottom: 3px solid #000;
  animation: borderBottom 1s forwards;
} */
#menuLine {
  display: block;

  width: 76.8px;
  height: 2px;
  position: absolute;
  top: 80px;
  left: 100%;
  background: #222;
  z-index: 500;
  opacity: 0;
  transition: all 1s;
}
#menuLine.active {
  opacity: 1;
}
.lnb {
  width: 100%;

  line-height: 40px;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
}
.lnb > li {
  width: 25%;
}
.lnb > li a {
  font-size: 0.8em;
}
.gnb > li:last-child {
  display: flex;
  justify-content: left;
}
.gnb > li:last-child > div {
  width: 30%;
  height: 80px;
  line-height: 80px;
}
.icon {
  width: 100%;
  height: 100%;
}
.icon > div {
  width: 50%;
  height: 100%;

  object-fit: contain;
}
.icon img {
  height: 21px;
  object-fit: contain;
}
.section1 {
  width: 100%;

  /* height: 100vh; */

  /*   border: 1px solid #f00; */
  overflow: hidden;
}
.triWrap {
  width: 100;
  height: 100%;
  opacity: 0;
}
.triWrap.on {
  opacity: 1;
}
.tri {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 59px;
  right: 65px;
  border-bottom: 10px solid rgba(0, 0, 0, 0.5);
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
.lng {
  position: absolute;
  top: 80px;
  right: 50px;
  width: 50px;
  height: 60px;
  background: rgba(0, 0, 0, 0.5);

  text-align: center;
  border-radius: 5px;
}
.lng > div {
  width: 100%;
  height: 30px;
  line-height: 30px;
}
.lng a {
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
}
.slides {
  position: absolute;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bg {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 40%;
  background-color: #fff;
}
.bg.windowOpen {
  animation: windowOpen 2s forwards;
}
.bg2 {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 0;
  background-color: #fff;
  transition: all 1s;
  animation: windowOpen 1s forwards;
}
.textscreen {
  position: absolute;
  top: 41%;
  transform: translateY(-50%);
  font-size: 1.5em;
  padding: 10%;
  z-index: 4;
  overflow: hidden;
}
.textscreen .title {
  padding-top: 100px;
  font-size: 100px;
  font-weight: bolder;
}
.box {
  width: 800px;
  height: 120px;
  overflow: hidden;
  line-height: 120px;
  /*   border: 1px solid #000; */
}

.title1.titleAni1 {
  animation: title 1s forwards;
}

.title2.titleAni2 {
  animation: title 1s forwards;
  animation-delay: 0.5s;
}
/*seciton2*/
.title {
  font-size: 80px;
  font-weight: bolder;
}
.section2,
.section4 {
  width: 100%;
  /* height: 100vh; */
  max-width: 1600px;
  margin: 0 auto;
}
.section2Wrap,
.section4Wrap {
  display: flex;
  justify-content: space-between;
}
.section2Wrap > div,
.section4Wrap > div {
  margin-top: 100px;
  width: 33.333%;
}
.imageBox {
  width: 90%;
  height: 90%;
  overflow: hidden;
  /* border: 1px solid #ccf; */
}
.imageBox img {
  object-fit: cover;
  transition: all 1s;
}
.imageBox img.imgScale {
  animation: aniScale 1s forwards;
}
.text {
  position: relative;
}
.page {
  position: absolute;
  bottom: 100px;
  left: 50px;
  font-size: 30px;
  color: #ddd;
}
/*section3*/
.section3 {
  width: 100%;
  /* height: 100vh; */
  position: relative;
}
.bgBox {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.bgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bgBox img.bgScale {
  animation: aniScale 1s forwards;
}
.section3text {
  width: 100%;
  position: absolute;
  margin-top: 50px;
  padding: 200px;
  /* background: url(../images/bg2.png); */
  color: #fff;
  text-align: center;
  z-index: 1;
  box-sizing: border-box;
}
.section3text h1,
.section5 h1,
.section6Text h1 {
  font-size: 2em;
  font-weight: bolder;
  margin: 20px 0;
  text-align: center;
}
.section3text h2 {
  font-size: 20px;
  font-weight: bolder;
  margin: 40px 0;
}
.section3text h3,
.section6 span {
  padding: 10px 0;
  width: 180px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: bolder;
  color: #fff;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}

.section5 {
  /* height: 20vh; */
}
.section6 {
  position: relative;
  width: 100%;
  left: 0;
  bottom: 0;
  /* height: 100vh; */
  background: url(../images/bg3.png);
  text-align: center;
  overflow: hidden;
}
.openwindow {
  position: absolute;
  width: 100%;
  height: 100%;
}
.openwindow > div {
  position: absolute;
  top: 0;

  width: 50%;
  height: 100%;
  transition: all 2s;
}
.openwindow .left {
  background-color: #fff;
  left: 0;
  margin-left: 0;
}
.openwindow .right {
  right: 0;
  background-color: #fff;
  margin-right: 0;
}
.section6Text h1 {
  font-size: 80px;
  color: #fff;
  padding: 100px;
}
.section6Text {
  padding-top: 50px;
}
footer {
  position: absolute;
  width: 100%;

  bottom: 0;
  background-color: #333;
}
footer a {
  color: #fff;
}
.footWrap {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
.footLeft,
.footRight {
  display: flex;
  justify-content: space-between;
}
.footLeft li,
.footRight li {
  margin-right: 10px;
}
.footRight li::after {
  content: " ^ ";
  color: #fff;
  cursor: pointer;
}
.footRight > li > ul {
  display: none;
}
